# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/media/
staticfiles/
*.log

# Virtual Environment
env/
venv/
ENV/

# VS Code
.vscode/

# Secrets
.env

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py